<p id="notice"><%= notice %></p>

<p>
  <strong>Set:</strong>
  <%= @forms_submission.set %>
</p>

<%= link_to 'Edit', edit_forms_submission_path(@forms_submission) %> |
<%= link_to 'Back', forms_submissions_path %>
